<!DOCTYPE html>
<html ng-app="adversaria">
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../bower_components/github-markdown-css/github-markdown.css">
    <link rel="import" href="components/navigator/navigator.html">
    <link rel="import" href="components/note-list/note-list.html">
    <link rel="import" href="components/note-view/note-view.html">
    <link rel="import" href="components/status-bar/status-bar.html">
    <title>First Electron App</title>
  </head>
  <body>

    <div class='side-panel'>
      <ul is='adv-navigator' class='navigator' id='navigator'></ul>
      <p is='adv-status-bar' id='status-bar'>&nbsp;</p>
    </div>

    <ul is='adv-note-list' class='note-list' id='note-list'></ul>

    <adv-note-view id='note-view'></adv-note-view>

    <dialog id='user_settings_dialog' class='dialog'>
      <header>
        <button class='close-button'>&#x2716;</button>
      </header>
      <label>
        <span>Document location: </span>
        <input class='current-directory' type="text" size="36" readonly>
        <button class='show-directory-dialog'>Change...</button>
      </label>
    </dialog>

    <dialog id='ssh_config_dialog' class='dialog'>
      <header>
      </header>
      <div>
        <input id='auth_type_from_key' type="radio"  name='auth_type' checked/>
        <label for='auth_type_from_key'>From key</label>
        <div class='radio-group'>
          <label>SSH public key: <input id='ssh_public_key' type="text" /></label><br>
          <label>SSH private key: <input id='ssh_private_key' type="text" /></label><br>
          <label>Passphrase: <input id='ssh_passphrase' type="password" /></label>
        </div>
      </div>
      <div>
        <input id='auth_type_from_agent' type="radio"  name='auth_type' />
        <label for='auth_type_from_agent'>From agent</label>
      </div>
      <div>
        <button id='ssh_config_dialog_ok_button'>OK</button>
      </div>
    </dialog>

    <script src="index.js"></script>
    <script>require('electron-connect').client.create()</script>
  </body>
</html>
