<!DOCTYPE html>
<html ng-app="adversaria">
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../bower_components/github-markdown-css/github-markdown.css">
    <link rel="import" href="components/navigator/navigator.html">
    <link rel="import" href="components/note-list/note-list.html">
    <link rel="import" href="components/note-view/note-view.html">
    <link rel="import" href="components/status-bar/status-bar.html">
    <title>First Electron App</title>
  </head>
  <body>

    <div class='side-panel'>
      <ul is='adv-navigator' class='navigator' id='navigator'></ul>
      <p is='adv-status-bar' id='status-bar'>&nbsp;</p>
    </div>

    <ul is='adv-note-list' class='note-list' id='note-list'></ul>

    <adv-note-view id='note-view'></adv-note-view>

    <dialog id='user_settings_dialog'>
      <header>
        <button class='close-button' onclick="UserSettingsDialog.close()">&#x2716;</button>
      </header>
      <label>
        <span>Document location: </span>
        <input id="documentDirectory" type="text" size="36" readonly>
        <button onclick="UserSettingsDialog.showDirectoryDialog()">Change...</button>
      </label>
    </dialog>

    <script src="user_settings_dialog.js"></script>
    <script src="index.js"></script>
    <script>require('electron-connect').client.create()</script>
  </body>
</html>
