* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family: sans;
  overflow: hidden;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: stretch;
  .side-panel {
    min-width: 10%;
    flex-direction: column;
    .navigator {
      overflow-y: auto;
      flex-grow: 1;
    }
  }
  .note-list {
    min-width: 10%;
    max-width: 25%;
    overflow-y: auto;
  }
  adv-note-view {
    flex-grow: 1;
    max-width: 80%;
    overflow-y: auto;
  }
}
