adv-note-view {
  display: flex;
  flex-direction: column;

  .title {
    color: #ffffff;
    background-color : #8a48db;
    font-size : 2rem;
    padding: 12px;
    text-transform: capitalize;
  }

  .markdown-body {
    flex-grow: 1;
    background-color: #fefeff;
    color: #272f32;
    padding : 16px;
    .emoji {
      height: 1.2em;
    }
  }

  .path {
    background-color: lightgray;
    color: #444;
    font-family: monospace;
    padding : 4px 8px;
  }
}
