<!DOCTYPE html>
<html ng-app="adversaria">
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" />
    <title>First Electron App</title>
  </head>
  <body ng-controller="MainController">
    <ul id='navigator' class='file_list' ng-controller="NavigatorController">
      <li class='file_item parent'
          ng-if='!isRootDirectory()'
          ng-click='selectParentDirectory()'></li>
      <li class='file_item directory'
          ng-if='entry.directory'
          ng-click='selectDirectory(entry.name)'
          ng-repeat='entry in file_items'>
        {{entry.name}}
      </li>
      <li class='file_item file'
          ng-if='entry.file'
          ng-click='select_file(entry.name)'
          ng-repeat='entry in file_items'>
        {{entry.name}}
      </li>
    </ul>

    <div class='md_preview'>
      <p class='title'>{{current_note.title}}</p>
      <div class='content' md-preview='current_note.markdown'></div>
      <p class='path'>{{current_note.path}}</p>
    </div>

    <dialog id='user_settings_dialog'>
      <header>
        <button class='close-button' onclick="UserSettingsDialog.close()">&#x2716;</button>
      </header>
      <label>
        <span>Document location: </span>
        <input id="documentDirectory" type="text" size="36" readonly>
        <button onclick="UserSettingsDialog.showDirectoryDialog()">Change...</button>
      </label>
    </dialog>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="user_settings_dialog.js"></script>
    <script src="index.js"></script>
    <script>require('electron-connect').client.create()</script>
  </body>
</html>
